/* document */
*{
	margin:0;
	padding:0;
	border-width:0;
	font-family: arial;
}

body{
	text-align: center;
	position: relative;
	background-image: url("../images/bg.jpg");
	padding: 0;
	margin: 0;
}
.wrap{
	position: relative;
	width: 1200px;
	/*height: 1000px;*/
	background-color: #1c1c1c;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
    box-shadow:0 0 10px 0 black inset;
}
.header{
	height: 150px;
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	border-bottom: solid 20px #1c1c1c;
	box-shadow:0 0 20px 0 black;	
}
.logo{
	float: left;
	width: 500px;
	height: 140px;
	background-image: url("../images/Logo_Cafe.png");
	background-size: 100%;
	margin-top: 35px;
	margin-bottom: -20px;
}

p{
	text-align: center;
	margin: 30px auto 100px; 
	color: #d9d9d9;
	font-size: 18px;
}
a{
	text-decoration: none;
	color: #e4bc72;	
}
h2{
	text-align: center;
	margin: 30px auto; 
	color: #e4bc72;
	font-size: 24px;
}
/*copyright*/
.copyright{
	text-align: center;
	background-color: black;
	color: white;
	height: 30px;
	float: none;
	clear: both;
	width:100%;
}
.copyright p{
	padding-top: 5px;
	color: #e4bc72;
}